@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    
    padding:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  grid-template-rows: 1fr 1fr;  /* 2 filas */
  width: 38%;
  height: 50%;
  border-radius: 20px;
 box-shadow: .1rem .1rem .9rem .2rem  rgba(150, 148, 148, 0.25);
}

.first-row{
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
      border-radius: 15px 15px 0px 0px;
}

#price{
    background-color: hsl(179, 62%, 43%);
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    border-radius: 0px 0px  0px 15px;
    padding: 20px 35px;
    
}
.why-us{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px 35px;
    background-color: hsl(179, 62%, 43%, 0.8);
    border-radius: 0px 0px 15px 0px;
}

.title{
    padding: 30px;
    font-size: 30px;
    color: hsl(179, 62%, 43%)
}

h3{
    color: hsl(71, 73%, 54%);
    font-size: 20px;
    padding: 10px 20px;
}

.first-row p{
    font-size: 18px;
    padding: 38px;
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
}


#price h4{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.flex{
    display: flex;
    flex-direction: row;
    
}

.large-text{
    color: #fff;
    font-size: 34px;
}
.small-text{
font-size: 16px;
 color: #fff;
 padding-bottom: 15px;
}
.off-white{color: rgba(255, 255, 255, 0.705);
    align-self: center;
}

#price p{
    padding-top: 10px;
}
.btn {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 600;
  width: 90%;
  background: hsl(71, 73%, 54%);
  height: 50px;
  padding-top: 15px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: .1rem .1rem .9rem .2rem  rgba(92, 90, 90, 0.25);
}

.why-us h4{
     color: #fff;
    font-weight: 400;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.why-us p{
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.75);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .grid-container {
    width: 90%; /* ocupa casi todo el ancho */
    height: auto; /* que se ajuste al contenido */
    grid-template-columns: 1fr; /* solo 1 columna */
    grid-template-rows: auto; /* filas automáticas según contenido */
   
  }

  .first-row, #price, .why-us {
    grid-column: 1; /* cada item ocupa toda la columna */
    grid-row: auto; /* se coloca uno debajo del otro */
    padding: 20px;
  }

  #price{
    border-bottom-left-radius: 0;
  }

  .why-us{
    border-bottom-left-radius: 15px;
  }

  .flex {
    flex-direction: row; /* si hay flex dentro, que se apilen vertical */
    align-self: center;
  }
}

@media (max-width: 1200px){
      .grid-container {
    width: 90%; /* ocupa casi todo el ancho */
    height: auto; /* que se ajuste al contenido */
    grid-template-columns: 1fr; /* solo 1 columna */
    grid-template-rows: auto; /* filas automáticas según contenido */
   
  }

  .first-row, #price, .why-us {
    grid-column: 1; /* cada item ocupa toda la columna */
    grid-row: auto; /* se coloca uno debajo del otro */
    padding: 20px;
  }

  #price{
    border-bottom-left-radius: 0;
  }

  .why-us{
    border-bottom-left-radius: 15px;
  }

  .flex {
    flex-direction: row; /* si hay flex dentro, que se apilen vertical */
    align-self: center;
  }
}
